USE [master]
GO
/****** Object:  Database [ZooDb]    Script Date: 06/11/2017 11:54:13 ******/
CREATE DATABASE [ZooDb] ON  PRIMARY 
( NAME = N'ZooDb', FILENAME = N'D:\SQLDATA\ZooDb.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ZooDb_log', FILENAME = N'D:\SQLDATA\ZooDb_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ZooDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ZooDb]
GO
/****** Object:  Table [dbo].[Cuidadores]    Script Date: 06/11/2017 11:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuidadores](
	[IdCuidador] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](75) NOT NULL,
 CONSTRAINT [PK_Cuidadores] PRIMARY KEY CLUSTERED 
(
	[IdCuidador] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Animales]    Script Date: 06/11/2017 11:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Animales](
	[IdAnimal] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](300) NOT NULL,
 CONSTRAINT [PK_Animales] PRIMARY KEY CLUSTERED 
(
	[IdAnimal] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlanesCuidado]    Script Date: 06/11/2017 11:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlanesCuidado](
	[IdPlanCuidado] [int] IDENTITY(1,1) NOT NULL,
	[IdAnimal] [int] NOT NULL,
	[IdCuidador] [int] NOT NULL,
	[DiaSemana] [tinyint] NOT NULL,
 CONSTRAINT [PK_PlanesCuidado] PRIMARY KEY CLUSTERED 
(
	[IdPlanCuidado] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_PlanesCuidado_Animales]    Script Date: 06/11/2017 11:54:20 ******/
ALTER TABLE [dbo].[PlanesCuidado]  WITH CHECK ADD  CONSTRAINT [FK_PlanesCuidado_Animales] FOREIGN KEY([IdAnimal])
REFERENCES [dbo].[Animales] ([IdAnimal])
GO
ALTER TABLE [dbo].[PlanesCuidado] CHECK CONSTRAINT [FK_PlanesCuidado_Animales]
GO
/****** Object:  ForeignKey [FK_PlanesCuidado_Cuidadores]    Script Date: 06/11/2017 11:54:20 ******/
ALTER TABLE [dbo].[PlanesCuidado]  WITH CHECK ADD  CONSTRAINT [FK_PlanesCuidado_Cuidadores] FOREIGN KEY([IdCuidador])
REFERENCES [dbo].[Cuidadores] ([IdCuidador])
GO
ALTER TABLE [dbo].[PlanesCuidado] CHECK CONSTRAINT [FK_PlanesCuidado_Cuidadores]
GO
